@import '../index.scss';
@import "./_breakpoints.scss";

.footer {
  width: 100%;
  border-top: 1px solid map-get($colors, secondary);

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.25rem;

    .icons {
      display: flex;
      align-items: center;
      gap: 0.25rem;

      @include tablet {
        gap: 0.5rem;
      }
    }
  }
}
