@import '../index.scss';

.header {
  width: 100%;
  border-bottom: 1px solid map-get($colors, secondary);

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;

    .icons {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

@media (max-width: 1220px) {
  .header {
    .content {
      .icons {
        gap: 0.01rem;

        svg {
          height: 1.25rem;
        }
      }
    }
  }
}
