@import '../index.scss';
@import "./_breakpoints.scss";

.header {
  width: 100%;
  border-bottom: 1px solid map-get($colors, secondary);

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;

    .icons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      gap: 0.25rem;

      @include tablet {
        gap: 0.5rem;
      }
    }
  }
}
