@import '../index.scss';

@keyframes expandUnderline {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

.projects {
  width: 100%;

  h3 {
    padding-bottom: 2rem;
  }

  .grid {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem 1rem;
  }
}

@media (max-width: 1220px) {
  .projects {
    h3 {
      padding-bottom: 2rem;
    }

    .grid {
      gap: 2rem 1rem;
    }
  }
}