@import '../index.scss';

.skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    align-items: center;
    justify-content: space-between;
    gap: 4em 2em;

    &-piece {
      box-sizing: border-box;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 100%;
      width: 100%;
      padding-block: 6em;
      border: 3px solid map-get($colors, secondary);
      border-radius: 8px;
      backface-visibility: hidden;
      transition: transform 0.75s ease-out;
      transform-style: preserve-3d;
      cursor: pointer;

      &:hover {
        transform: rotateY(180deg);
      }

      .back {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        border-radius: 8px;
        backface-visibility: hidden;
        background: map-get($colors, accent2);
        transform: rotateY(180deg);
      }
    }
  }
}

@media (max-width: 667px) {
  .skills {

    .grid {
      gap: 3em 2em;
    }
  }
}