body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: rgb(1, 2, 3);
}

#root {
  width: 100%;
  max-width: 1920px;
  padding: 3rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  font-family: "Comfortaa", sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
input,
textarea,
button,
ul {
  color: rgb(255, 255, 255);
  margin: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 5.5rem;
}

h3 {
  font-size: 4.25em;
}

h4 {
  font-size: 2.25rem;
}

h5 {
  font-size: 1.75rem;
}

p,
a,
input,
textarea,
button {
  font-size: 1.25rem;
  line-height: 2rem;
  word-spacing: normal;
}

a {
  font-size: 1rem;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}
a:hover {
  color: rgb(255, 43, 78);
}

button {
  position: relative;
  font-family: inherit;
  background: none;
  border: none;
  padding-block: 0.5rem;
  cursor: pointer;
}

ul {
  font-size: 1.5rem;
  line-height: 2rem;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.75rem;
}

svg {
  cursor: pointer;
  transition: scale 0.3s ease-out;
}
svg:hover {
  scale: 1.15;
}

@media (max-width: 667px) {
  #root {
    gap: 3rem;
    padding: 2rem;
  }
  h1 {
    font-size: 1.25rem;
  }
  h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  h3 {
    font-size: 2.25rem;
  }
  h4 {
    font-size: 1.75rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  p,
  a,
  input,
  textarea,
  button {
    font-size: 0.85rem;
    line-height: 1.75rem;
    padding: 0;
  }
}
@keyframes expandUnderline {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
.grid-piece {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}
.grid-piece .image-container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin-bottom: 1.75rem;
}
.grid-piece .image-container img {
  width: 100%;
  height: 100%;
  -o-object-position: top left;
     object-position: top left;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid-piece .image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease-out;
}
.grid-piece .image-container:hover::after {
  background-color: rgba(0, 0, 0, 0.85);
}
.grid-piece .image-container .description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1.25rem;
  padding: 2rem;
  line-height: 2rem;
  box-sizing: border-box;
  opacity: 0;
  z-index: 2;
  transition: opacity 0.3s ease-out;
}
.grid-piece .image-container:hover .description {
  opacity: 1;
}

p {
  font-size: 12px;
  word-spacing: 0.75rem;
  opacity: 0.8;
}

.links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}
.links button {
  letter-spacing: 2px;
  padding-inline: 0;
}
.links button .underline-expand {
  height: 3px;
  background: rgb(255, 43, 78);
  transform: scaleX(1);
  transition: transform 0.75s ease;
}
.links button:hover .underline-expand {
  animation: expandUnderline 0.75s ease forwards;
}

@media (max-width: 667px) {
  .grid-piece {
    gap: 0.5rem;
  }
  .grid-piece .image-container {
    height: 300px;
    margin-bottom: 1rem;
  }
  .grid-piece .image-container img {
    width: 100%;
    height: 300px;
  }
  .grid-piece .image-container .description {
    height: 300px;
  }
  .grid-piece h5 {
    padding-bottom: 0.15rem;
  }
  .grid-piece p {
    font-size: 10px;
    word-spacing: 0.5rem;
    line-height: 1.25rem;
  }
  .grid-piece button {
    letter-spacing: 1px;
  }
}/*# sourceMappingURL=ProjectsGridPiece.css.map */