$colors: (
  primary: rgb(1, 2, 3),
  accent: rgb(255, 43, 78),
  secondary: rgba(255, 255, 255, 0.5),
  accent2: rgba(255, 255, 255, 1),
);

html,
body,
#root,
:root {
  font-family: "Comfortaa", sans-serif;
  background: map-get($colors, primary);
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

#root {
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 2em 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
}

h1,
h2,
h3,
h4,
h5,
p,
input,
textarea,
ul {
  color: map-get($colors, accent2);
  margin: 0;
}

h2 {
  font-size: 88px;
}

h3 {
  font-size: 66px;
}

h4 {
  font-size: 36px;
}

h5 {
  font-size: 20px;
}

p,
a,
input,
textarea,
button {
  font-size: 16px;
  line-height: 32px;
}

a {
  color: map-get($colors, accent2);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.25em;

  &:hover {
    color: map-get($colors, accent);;
  }
}

// button {
  // color: map-get($colors, accent2);
  // font-family: inherit;
  // font-weight: 700;
  // padding: 0.5em 2em;
  // width: 10em;
  // background-color: map-get($colors, primary);
  // cursor: pointer;
  // border: none;
  // border: 3px solid rgba(0, 0, 0, 0);
  // border-bottom: 3px solid map-get($colors, accent);

  // transition:
  //   scale 0.3s ease-out,
  //   border-bottom 0.3s ease-out,
  //   background-color 0.3s ease-out,
  //   border-radius 0.3s ease-out;

  // &:hover {
  //   scale: 1.05;
  //   border: 3px solid map-get($colors, accent);
  //   border-radius: 8px;
  //   background-color: map-get($colors, accent);
  // }
// }

ul {
  font-size: 24px;
  line-height: 32px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.75em;
}

svg {
  width: 2em;
  transition: scale 0.3s ease-out;

  &:hover {
    scale: 1.15;
  }
}