@import "src/components/_breakpoints.scss";

$colors: (
  primary: rgb(1, 2, 3),
  accent: rgb(255, 43, 78),
  secondary: rgba(255, 255, 255, 0.5),
  accent2: rgba(255, 255, 255, 1),
);

body {
  margin: 0;
  font-family: "Comfortaa", sans-serif;
  background: map-get($colors, primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root {
  box-sizing: border-box;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1.5rem;

  @include tablet {
    padding: 2rem 3rem;
    gap: 4rem;
  }

  @include desktop {
    padding: 3rem 10rem;
    gap: 5rem;
  }
}

h1,
h2,
h3,
h4,
h5,
p,
a,
input,
textarea,
button,
ul {
  color: map-get($colors, accent2);
  margin: 0;
  padding: 0;
}

// Header, Footer
h1 {
  font-size: 18px;

  @include tablet {
    font-size: 20px;
  }

  @include desktop {
    font-size: 28px;
  }
}

// Intro
h2 {
  font-size: 36px;
  line-height: 3rem;

  @include desktop {
    font-size: 56px;
    line-height: 4rem;
  }
}

// Sections
h3 {
  font-size: 28px;

  @include tablet {
    font-size: 32px;
  }

  @include desktop {
    font-size: 42px;
  }
}

// Skills
h4 {
  font-size: 16px;

  @include tablet {
    font-size: 18px;
  }

  @include desktop {
    font-size: 20px;
  }
}

p,
input,
textarea {
  font-size: 14px;
  line-height: 28px;
  word-spacing: normal;
}

a {
  font-size: 12px;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  &:hover {
    color: map-get($colors, accent);
  }
}

button {
  position: relative;
  font-size: 12px;
  font-family: inherit;
  letter-spacing: 2px;
  padding-inline: 0;
  background: none;
  border: none;
  cursor: pointer;
  }

ul {
  font-size: 14px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.75rem;
}

svg {
  cursor: pointer;
}

.svgFill {
  fill: color ease-out;

  &:hover {
    fill: map-get($colors, accent);
  }
}

.svgStroke {
  stroke: color ease-out;

  &:hover {
    stroke: map-get($colors, accent);
  }
}

button {
  letter-spacing: 1px;
}